<a href="https://colab.research.google.com/github/Udaykiran06-art/PANDAS-MISSING-OR-NaN-VALUES/blob/main/PANDAS_Handling_missing_or_NaN_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving fruits1.csv to fruits1.csv

In [ ]:
#Loading fruits csv file
import pandas as pd
fruits = pd.read_csv('fruits1.csv')
df1 = pd.read_csv("fruits1.csv")
print(df1)

     Order Id  Apples  Orange  Banana
0       16723     9.0     NaN     6.0
1       16724    12.0    12.0     6.0
2       16725     9.0     NaN     NaN
3       16726    12.0     NaN    24.0
4       16727    30.0     8.0    10.0
..        ...     ...     ...     ...
145     16868    24.0    12.0     6.0
146     16869     8.0     8.0    12.0
147     16870     5.0    30.0    30.0
148     16871    24.0     NaN    10.0
149     16872     5.0    30.0    10.0

[150 rows x 4 columns]

In [ ]:
#isna() method
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df2 = df1.isna()
print(df1.head())
print()
print(df2.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0     False   False    True   False
1     False   False   False   False
2     False   False    True    True
3     False   False    True   False
4     False   False   False   False

In [ ]:
#isnull() method
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df2 = df1.isnull()

print(df1.head())
print()
print(df2.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0     False   False    True   False
1     False   False   False   False
2     False   False    True    True
3     False   False    True   False
4     False   False   False   False

In [ ]:
#notnull() method
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df2 = df1.notnull()

print(df1.head())
print()
print(df2.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0      True    True   False    True
1      True    True    True    True
2      True    True   False   False
3      True    True   False    True
4      True    True    True    True

In [ ]:
#Counting the missing values in each columns
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
s = df1.isna().sum()
print(s)

Order Id     0
Apples      16
Orange      16
Banana      21
dtype: int64

In [ ]:
#Counting the missing values in each column with percentage
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
s = df1.isna().sum()
per = (s*100)/len(df1)
print(per)

Order Id     0.000000
Apples      10.666667
Orange      10.666667
Banana      14.000000
dtype: float64

In [ ]:
#Dropping rows whereb NaN values existing
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df2 = df1.dropna()
print(df2)

     Order Id  Apples  Orange  Banana
1       16724    12.0    12.0     6.0
4       16727    30.0     8.0    10.0
5       16728     6.0     6.0    12.0
6       16729    12.0    24.0     9.0
7       16730    24.0     6.0     8.0
..        ...     ...     ...     ...
143     16866    12.0    10.0    10.0
145     16868    24.0    12.0     6.0
146     16869     8.0     8.0    12.0
147     16870     5.0    30.0    30.0
149     16872     5.0    30.0    10.0

[105 rows x 4 columns]

In [ ]:
#Dropping rows where NaN values existing and counting
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df2 = df1.dropna()
s = df2.isna().sum()
print(s)

Order Id    0
Apples      0
Orange      0
Banana      0
dtype: int64

In [ ]:
#Converting float column type into int data type
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df2 = df1.dropna()
df3 = df2.astype(int)
print(df2.head())
print()
print(df3.head())

   Order Id  Apples  Orange  Banana
1     16724    12.0    12.0     6.0
4     16727    30.0     8.0    10.0
5     16728     6.0     6.0    12.0
6     16729    12.0    24.0     9.0
7     16730    24.0     6.0     8.0

   Order Id  Apples  Orange  Banana
1     16724      12      12       6
4     16727      30       8      10
5     16728       6       6      12
6     16729      12      24       9
7     16730      24       6       8

In [ ]:
#Dropping NaN values by using inplace parameter
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df1.dropna(inplace=True)
print(df1)

     Order Id  Apples  Orange  Banana
1       16724    12.0    12.0     6.0
4       16727    30.0     8.0    10.0
5       16728     6.0     6.0    12.0
6       16729    12.0    24.0     9.0
7       16730    24.0     6.0     8.0
..        ...     ...     ...     ...
143     16866    12.0    10.0    10.0
145     16868    24.0    12.0     6.0
146     16869     8.0     8.0    12.0
147     16870     5.0    30.0    30.0
149     16872     5.0    30.0    10.0

[105 rows x 4 columns]

In [ ]:
#Filling NaN values with zero
import pandas as pd
df1 = pd.read_csv("fruits1.csv")
df2 = df1.fillna(0)

print(df1.head())
print()
print(df2.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0     16723     9.0     0.0     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     0.0     0.0
3     16726    12.0     0.0    24.0
4     16727    30.0     8.0    10.0

In [ ]:
#Filling NaN values with specific value
import pandas as pd
import numpy as np
data = [
    ["Rajan",26,40000],
    ["Daniel",16,20000],
    ["Veeru",45,90000],
    ["Venkat",np.nan,45000],
    ["Sumanth",20,95000],
    ["Shafi",np.nan,97000]
]
df1 = pd.DataFrame(data,columns=["Name","Age","Salary"])
df2 = df1.fillna(22)

print(df1)
print()
print(df2)

      Name   Age  Salary
0    Rajan  26.0   40000
1   Daniel  16.0   20000
2    Veeru  45.0   90000
3   Venkat   NaN   45000
4  Sumanth  20.0   95000
5    Shafi   NaN   97000

      Name   Age  Salary
0    Rajan  26.0   40000
1   Daniel  16.0   20000
2    Veeru  45.0   90000
3   Venkat  22.0   45000
4  Sumanth  20.0   95000
5    Shafi  22.0   97000

In [ ]:
#Filling NaN value with mean value
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
data = [
    ["Shahid",26,40000],
    ["Daniel",16,20000],
    ["Veeru",45,90000],
    ["Venkat",np.nan,45000],
    ["Sumanth",20,95000],
    ["Shafi",np.nan,97000]
]
df1 = pd.DataFrame(data,columns=["Name","Age","Salary"])
print(df1)
m = df1['Age'].mean()
df1['Age']=df1['Age'].fillna(m)

print()
print(df1)

      Name   Age  Salary
0   Shahid  26.0   40000
1   Daniel  16.0   20000
2    Veeru  45.0   90000
3   Venkat   NaN   45000
4  Sumanth  20.0   95000
5    Shafi   NaN   97000

      Name    Age  Salary
0   Shahid  26.00   40000
1   Daniel  16.00   20000
2    Veeru  45.00   90000
3   Venkat  26.75   45000
4  Sumanth  20.00   95000
5    Shafi  26.75   97000

In [ ]:
#Creating dataframe and replacing nan values with specific value
import pandas as pd
import numpy as np
data = [
    ["Shahid",26,40000],
    ["Daniel",16,20000],
    ["Veeru",45,90000],
    ["Sumanth",20,95000],
]
df1 = pd.DataFrame(data,columns=["Name","Age","Salary"])
print(df1)
df2 = df1.replace(np.nan,0)

print()
print(df2)

      Name  Age  Salary
0   Shahid   26   40000
1   Daniel   16   20000
2    Veeru   45   90000
3  Sumanth   20   95000

      Name  Age  Salary
0   Shahid   26   40000
1   Daniel   16   20000
2    Veeru   45   90000
3  Sumanth   20   95000